on:
  workflow_dispatch:
  schedule:
    - cron: "0 20 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: eco4cast/rocker-neon4cast

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install missing R packages
        run: |
          Rscript -e 'install.packages(c("rMR"), repos="https://cloud.r-project.org")'

      - name: Run automatic prediction file
        run: Rscript Main.R
